body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

    h1 {
        font-size: 50px;

    }

    .yellow {
        color: yellow;
    }

    .red {
        color: red;
    }

    .felxible-container {
        display: flex;
        margin-bottom: 100px;
    }

    .half-width {
        width: 50%;
        padding: 1%;

    }

    .half-width img {
        width: 100%;
    }

    .link-button {
        text-decoration: none;
        background-color: orange;
        font-weight: 700;
        color: white;
        padding: 10px 40px;
        border-radius: 5px;
    }

    .top-banner {
        background-image: url(Aj-removebg.png);
        background-repeat: no-repeat;
    }

    .para-banner {
        background-image: url(Azhar1-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 35%;
    }

    .orange {
        color: orange;
    }

    .experience-item {
        width: 50%;
        margin-left: 3%;
        margin-right: 3%;
        padding-left: 15px;
        box-shadow: 10px 10px 40px gray;

    }

    #web-experience {
        border-left: 5px solid blueviolet;
        border-image-slice: 1;
    }

    #full-stag-experience {
        border-left: 5px solid tomato;
        border-image-slice: 1;
    }

    footer p {
        text-align: center;
    }
}